side analysis
*.nc
*.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version
input/weather data/data_KAN_L_combined_hour.txt
input/weather data/IMAU_aws11_high-res_meteo.csv
input/weather data/IMAU_aws14_high-res_meteo.csv
input/weather data/IMAU_aws15_high-res_meteo.csv
input/weather data/IMAU_aws16_high-res_meteo.csv
input/weather data/IMAU_aws17_high-res_meteo.csv
input/weather data/IMAU_aws18_high-res_meteo.csv
input/weather data/IMAU_aws19_high-res_meteo.csv
input/weather data/IMAU_aws5_high-res_meteo.csv
input/weather data/IMAU_aws6_high-res_meteo.csv

output
input/weather data/IMAU_aws4_high-res_meteo.csv
tools